<meta charset="utf-8">
<meta name="generator" content="GitLab Pages">
<title>Plain HTML site using GitLab Pages</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="navbar">
<a
href="https://firstprojects.ru">Start page</a>
</div>
<h1>CI/CD seminars</h1>
<h2>Seminar1</h2>
</body>
</html>
